# Dependencies
**/node_modules/

# Production builds
**/dist/
**/dist-ssr/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
